{% extends 'base.html.twig' %}

{% block title %}
	Voice Inside
{% endblock %}

{% block body %}
	<div class="bg-white section section-padding pb-0 ">
		<div class="container">
			<div class="row learts-mb-n30">

				<div class="col-md-6 col-12 align-self-center learts-mb-30">
					<div class="about-us3">
						<span class="sub-title">Vive a tu manera</span>
						<h2 class="title">La felicidad está
							<br>
							en expresarlo</h2>
						<div class="desc">
							<p class="text-info h4">Todo depende de ti, cuando finalmente creas algo hermoso por ti mismo, descubres la propia felicidad. Te invade un sentimiento de orgullo y te llenas de éxito. ¡Bien hecho!</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-12 text-center learts-mb-30">
					<img src="https://template.hasthemes.com/learts/learts/assets/images/about/about-5.webp" alt="" class="img-fluid">
				</div>

			</div>
		</div>

	</div>
{% endblock %}
